#menu_highlights {
  background-color: var(--green);
  color: var(--yellow);
  padding: 15rem 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.menu_hightlights_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.menu_categories_container {
  display: flex;
  gap: 1rem;
}

@media (max-width: 728px) {
  #menu_highlights {
    padding: 8rem 0;
  }
}
