#menu_highlights {
  background-color: var(--green);
  color: var(--yellow);
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.menu_hightlights_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
