.content_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: clamp(3rem, 7vw, 25rem);
}

.form_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  width: 60%;
}

.side_image {
  height: 100%;
  width: 100%;
}

.contact_info_outer_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact_info_inner_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info a:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .content_container {
    flex-direction: column-reverse;
  }

  .form_container {
    width: 100%;
  }
}
