#hero {
  height: 60svh;
  width: 100vw;
}

.hero_image {
  height: 100%;
  width: 100%;
}

.menu_container {
  width: 100%;
}

#menu {
  display: flex;
  flex-direction: column;
  gap: clamp(4rem, 5vw, 12rem);
}
