#hero {
  height: 60svh;
  width: 100vw;
}

.hero_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#menu {
  padding: 15rem 0;
}

@media (max-width: 728px) {
  #menu {
    padding: 8rem 0;
  }
}
