.contact_container {
  display: flex;
  flex-direction: column;
  gap: clamp(3rem, 4vw, 10rem);
}

.content_container {
  display: flex;
  gap: clamp(3rem, 7vw, 25rem);
  justify-content: space-between;
}

.text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: clamp(2rem, 4vw, 10rem);
}

.info {
  color: var(--brown);
}

.info a:hover {
  text-decoration: underline;
}

.contact_info_outer_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact_info_inner_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.restaurant_timings_outer_container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.restaurant_timings_inner_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 1024px) {
  .content_container {
    flex-direction: column;
  }
}
