.image_gallery_outer_container {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.image_gallery_inner_container {
  display: flex;
  gap: clamp(1rem, 2vw, 2rem);
  padding-right: clamp(1rem, 2vw, 2rem);
}

.gallery_image {
  flex-shrink: 0;
  flex-grow: 0;
  object-fit: cover;
  height: clamp(25rem, 20vw, 80rem);
  width: clamp(25rem, 20vw, 80rem);
}
