.image_gallery_outer_container {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.image_gallery_inner_container {
  display: flex;
  gap: 2rem;
  padding-right: 2rem;
  animation: spin 60s infinite linear;
}

.gallery_image {
  flex-shrink: 0;
  flex-grow: 0;
  object-fit: cover;
}

@keyframes spin {
  from {
    translate: 0%;
  }
  to {
    translate: -100%;
  }
}
