.menu_categories_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.menu_category {
  white-space: nowrap;
}

.menu_items_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(55rem, 1fr));
  gap: 4rem 8rem;
  overflow: hidden;
}

.menu_item_container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menu_item_and_price_container {
  display: flex;
  justify-content: space-between;
  font-size: 2.4rem;
}

.menu_item_description {
  font-family: var(--font-overlock);
}

.menu_item_container::before {
  content: "";
  position: absolute;
  background-color: #335760;
  height: 100vh;
  width: 2px;
  top: 0;
  left: -4rem;
}

.menu_item {
  width: 75%;
}

@media (max-width: 728px) {
  .menu_categories_container {
    justify-content: start;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .menu_categories_container::-webkit-scrollbar {
    display: none;
  }

  .menu_item_and_price_container {
    font-size: 2rem;
  }

  .menu_items_container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .menu_item {
    width: 60%;
  }

  .menu_item_description {
    width: 80%;
  }
}
